
.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
    margin: 0 !important;
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}





/*
*
* ==========================================
*   AVATAR
* ==========================================
*/
body {
    min-height: 100vh;
    background: linear-gradient(to left, #dce35b, #45b649);
}
.circle {
    background-color: #f5df2e;
    background-image: linear-gradient(315deg, #f5df2e 0%, #f07654 74%);
    border-radius: 100%;
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.image {
    border-radius: 100%;
    border: 7px solid #fff;
    width: 240px;
    height: 240px;
    object-fit: cover;
}

.infoaccount input{
    width: 70%;
}
.infoaccount label{
    text-align: left;
    width: 20%;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.button {
    border: 2px solid #fea116;
    color: #fea116;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.upload-btn-wrapper input:hover{
    background: #0f172b;
    color: white;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.infoaccount input{
    height: 60px !important;
}
/*
*
* ==========================================
*   RADIO BUTTON GENDER
* ==========================================
*/
input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    z-index: 10;
    margin: 0 10px 10px 0;
    position: relative;
    color: #ced4da;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    font-weight: bold;
    background-color: #ffffff;
    border: 2px solid #ced4da;
    cursor: pointer;
    transition: all 200ms ease;
}

input[type="radio"]:checked + label {
    color: #0f172b;
    background-color: #fea116;
}

input[type="radio"] + label {
    padding: 5px 20px;
    border-radius: 10px;
}
.table tr th{
    background: #0f172b;
    color: white;
}
/*
*
* ==========================================
*   UPDATE AVATAR
* ==========================================
*/
.file-upload{display:block;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #0f172b;border-radius: 10px;color: #0f172b;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#0f172b;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#fff;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#0f172b;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#fea116;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#fea116;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #0f172b;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#0f172b;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}

/*
*
* ==========================================
*   Button
* ==========================================
*/
.button{
    background: white !important;
    border: 2px solid #fea116 !important;
    color: #fea116 !important; ;
    font-size: 13px;
    border-radius: 36px !important;
    width: 220px;
    height: 50px;
    line-height: 50px;
}
.button:hover{
    background-color: #0f172b !important;
    color: #fff !important;
    border:1px solid #0f172b !important; ;
}
